/* Raiz */

:root {
    --corFundo0: #020022;
    --corFundo1: #6495ed;
    --corFundo2: #0e0e0e;

    --corDestaque1: #011aa3;
    --corDestaque2: #dfdfdf;

    --corLinks1: #1e90ff;
    --corLinks2: #ffab1f;
}

body {
    margin: 0;
    padding: 0;

    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    font-size: 16px;

    background-color: var(--corFundo0);
}

a, a:visited {
    color: var(--corLinks1);
}

a:active, a:hover {
    color: var(--corLinks2);

    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

p {
    margin: 0;
}

/* Barra de navegação (navbar) */

nav {
    background-color:  var(--corFundo2);

    padding: 15px;
}

/* Sobre mim */

#SobreMim {
    text-align: center;
    font-size: 1.4em;

    max-width: 600px;
    margin: 30px auto;
    border-radius: 20px 0 20px 0;

    background-color: var(--corFundo1);
}

#SobreMim #Eu img {
    margin-top: 10px;

    width: 200px;
    height: auto;
    
    border-radius: 20px 0 20px 0;
    border: 3px solid var(--corDestaque1);
}

#SobreMim p {
    margin: 0;
}

#SobreMim p#Profissao {
    font-size: 0.75em;

    margin: 1px 0 20px;
}

hr {
    margin: 0 5px;
    border-color: black;
}

/* Redes sociais */

#Social {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    height: 50px;
}

#Social a {
    display: flex;
    text-align: center;
}

#Social img {
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

#Social img:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
}

/* Rodapé (footer) */

footer {
    background-color: var(--corFundo2);

    color: var(--corDestaque2);

    padding: 15px;
}