/* ----- Raiz - Configurações padrões ----- */

:root {
    --pretoEscuro: #131313;
    --pretoClaro: #1b1b1b;

    --azulEscurao: #020024;
    --azulEscuro: #090979;
    --azul: #011aa3;
    --azulDestaque: #001fcf;
    --azulClaro: #0a7dd4;
    --azulClarinho: #00d4ff;

    --laranja: #e4c30b;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: 600;

    background: linear-gradient(0deg, var(--azulEscurao) 0%, var(--azulEscuro) 35%, var(--azulClaro) 75%, var(--azulClarinho) 100%) fixed;
    background: -moz-linear-gradient(0deg, var(--azulEscurao) 0%, var(--azulEscuro) 35%, var(--azulClaro) 75%, var(--azulClarinho) 100%) fixed;
    background: -o-linear-gradient(0deg, var(--azulEscurao) 0%, var(--azulEscuro) 35%, var(--azulClaro) 75%, var(--azulClarinho) 100%) fixed;
    background: -webkit-linear-gradient(90deg, var(--azulEscurao) 0%, var(--azulEscuro) 35%, var(--azulClaro) 75%, var(--azulClarinho) 100%) fixed;
}

a, a:visited {
    color: var(--azulClaro);
}

a:active, a:hover {
    color: orange;

    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

p {
    margin: 0;
}

/* ----- Navbar (Barra de navegação) ----- */

nav ul {
    list-style-type: none;
    overflow: hidden;

    margin: 0;
    padding: 0;

    background-color: var(--pretoEscuro);
}

nav ul li {
    float: none;
}

nav li a.LinkNavbar {
    display: block;
    padding: 15px;
    text-decoration: none;
    
    color: white;
}

nav li a.LinkNavbar:hover {
    background-color: var(--pretoClaro);
}

nav li a#Inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--azul);
}

nav li a#Inicio:hover {
    background-color: var(--azulDestaque);
}

nav li a#Inicio img {
    margin-right: 5px;
}

@media screen and (min-width: 600px) {
    nav ul li {
        float: left;
    }
}

/* ----- Section #SobreMim ----- */

div#wallpaper {
    background-image: url("Assets/Imagens/wallpaper.jpg");
    height: 80vh;
    background-attachment: fixed;
}

section#SobreMim {
    text-align: center;
    font-size: 1.4em;

    max-width: 600px;
    margin: 0 auto 30px;
    border-radius: 0 0 20px 20px;

    background-color: var(--laranja);
}

section#SobreMim div#Eu img {
    margin-top: 10px;

    width: 200px;
    height: auto;
    
    border-radius: 20px 0 20px 0;
    border: 3px solid var(--azulEscuro);
}

section#SobreMim div#Eu p#Profissao {
    font-size: 0.75em;

    margin: 1px 0 20px;
}

hr {
    margin: 0 5px;
    border-color: black;
}

/* ----- Address #Social (contatos) ----- */

address#Social {
    display: flex;
    justify-content: space-evenly;

    height: 50px;
}

address#Social a {
    display: flex;
}

address#Social img {
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

address#Social img:hover {
    transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
}

/* ----- Section #Xadrez ----- */

section#Xadrez {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#Xadrez p {
    font-size: 1.5em;
    font-weight: 600;
    color: white;

    margin-bottom: 5px;
}

section#Xadrez iframe {
    width: 80vw;
    height: 500px;

    overflow-x: auto;

    border: 2px solid white;
}

/* ----- Footer (Rodapé) ----- */

footer {
    background-color: var(--pretoEscuro);
    color: white;

    padding: 15px;
    margin-top: 10px;
}