/* Raiz */

:root {
    --corBody: #020022;
    --corPrincipal: #6495ed;
    --corSecundaria: #0e0e0e;

    --corDestaque1: #011aa3;
    --corDestaque2: #dfdfdf;
    --corDestaque3: #1b1b1b;
    --corDestaque4: #001fcf;

    --corLinks1: #1e90ff;
    --corLinks2: #ffab1f;
}

body {
    margin: 0;
    padding: 0;

    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    font-size: 16px;

    background-color: var(--corBody);
}

a, a:visited {
    color: var(--corLinks1);
}

a:active, a:hover {
    color: var(--corLinks2);

    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

p {
    margin: 0;
}

footer {
    background-color: var(--corSecundaria);

    color: var(--corDestaque2);

    padding: 15px;
}

/* Barra de navegação (navbar) */

nav ul {
    list-style-type: none;
    overflow: hidden;

    margin: 0;
    padding: 0;

    background-color: var(--corSecundaria);
}

nav li {
    float: none;
}

nav a.LinkNavbar {
    display: block;
    padding: 15px;
    text-decoration: none;
    
    color: var(--corDestaque2);
}

nav a.LinkNavbar:hover {
    background-color: var(--corDestaque3);
}

nav a#Inicio {
    background-color: var(--corDestaque1);
}

nav a#Inicio:hover {
    background-color: var(--corDestaque4);
}

@media screen and (min-width: 600px) {
    nav li {
        float: left;
    }
}

/* Sobre mim */

#SobreMim {
    text-align: center;
    font-size: 1.4em;

    max-width: 600px;
    margin: 30px auto;
    border-radius: 20px 0 20px 0;

    background-color: var(--corPrincipal);
}

#SobreMim #Eu img {
    margin-top: 10px;

    width: 200px;
    height: auto;
    
    border-radius: 20px 0 20px 0;
    border: 3px solid var(--corDestaque1);
}

#SobreMim #Profissao {
    font-size: 0.75em;

    margin: 1px 0 20px;
}

hr {
    margin: 0 5px;
    border-color: black;
}

/* Redes sociais */

#Social {
    display: flex;
    justify-content: space-evenly;

    height: 50px;
}

#Social a {
    display: flex;
}

#Social img {
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

#Social img:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
}